<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="notification {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="site-header">
                    {% if current_user.is_authenticated %}
                    <a class="logo"><span class="welcome">Welcome to your personal learning journal {{ current_user.username.title() }}!</span></a>
                    <a class="button icon-right" href="/logout/"><span>Log Out {{ current_user.email }}</span></a>
                    {% else %}
                    <a class="button icon-right" href="/login/"><span>Sign In / Sign Up</span></a>
                    {% endif %}
                    <a class="logo" href="/"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="/entries/new"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="entry-list single">
                    {% with form=form %}
                    <article>
                        <h1>{{ form.title }}</h1>
                        <time datetime="2016-01-31">{{ form.date }}</time>
                        <div class="entry">
                            <h3>Time Spent: </h3>
                            <p>{{ form.time }} Minutes</p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <p>{{ form.learned }}</p>
                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <p>{{ form.resources }}</p>
                        </div>
                    </article>
                    {% endwith %}
                </div>
            </div>
            <div class="edit">

                <p><a href="/entries/{{ form.title }}/edit">Edit Entry</a></p>
                <p><a href="/entries/{{ form.title }}/delete">Delete Entry</a></p>
            </div>

        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>