<!DOCTYPE html>
{% from 'macros.html' import render_field %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="notification {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="site-header">
                    {% if current_user.is_authenticated %}
                    <a class="logo"><span class="welcome">Welcome to your personal learning journal {{ current_user.username.title() }}!</span></a>
                    <a class="button icon-right" href="/logout/"><span>Log Out {{ current_user.email }}</span></a>
                    {% else %}
                    <a class="button icon-right" href="/login/"><span>Sign In / Sign Up</span></a>
                    {% endif %}
                    <a class="logo" href="/"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="/entries/new"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="entry-list">
                    <article>
                        <h2><a href="/entries/{{ current_user.username }}">Placeholder Title</a></h2>
                        <time datetime="2016-01-31">Placeholder Date</time>
                    </article>
                    <article>
                        <h2><a href="detail_2.html">The absolute worst day I’ve ever had</a></h2>
                        <time datetime="2016-01-31">January 31, 2016</time>
                    </article>
                    <article>
                        <h2><a href="detail_3.html">That time at the mall</a></h2>
                        <time datetime="2016-01-31">January 31, 2016</time>
                    </article>
                    <article>
                        <h2><a href="detail_4.html">Dude, where’s my car?</a></h2>
                        <time datetime="2016-01-31">January 31, 2016</time>
                    </article>
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>